a(href='/') Home

h2 Detail

if(data != null)
  p
    span ID:
    span=data.id
  p
    span Category:
    span=data.category
  p
    span Headline:
    span=data.headline
  p
    span Authors:
    span=data.authors
  p
    span Link:
    span=data.link
  p
    span Short Description:
    span=data.short_description
  p
    span Date:
    span=data.date

if(data == null)
  p No data
