doctype html
meta(name="viewport" content="width=device-width, initial-scale=1")
html(lang='en')
  include includes/head.pug
  include includes/nav.pug

  body
    div.container-fluid
      div.row
        div.col-sm-6
          h3 Category: Women

          nav
            #nav-tab.nav.nav-tabs(role='tablist')
              a#nav-bof-women-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-bof-women', role='tab', aria-controls='nav-bof-women', aria-selected='true') Bag of Words
              a#nav-top-women-tab.nav-item.nav-link(data-toggle='tab', href='#nav-top-women', role='tab', aria-controls='nav-top-women', aria-selected='false') Tops
          #nav-tabContent.tab-content
            #nav-bof-women.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-bof-women-tab')
              div.row(style="max-height: 768px; overflow-y: auto")
                div.col-sm-6
                  p.text-center 1-Gram
                  ul.list-group
                    each val in womenData.bagOfWords1Gram
                      li.list-group-item= val

                div.col-sm-6
                  p.text-center 2-Gram
                  ul.list-group
                    each val in womenData.bagOfWords2Gram
                      li.list-group-item= val

            #nav-top-women.tab-pane.fade(role='tabpanel', aria-labelledby='nav-top-women-tab')
              div.row(style="max-height: 768px; overflow-y: auto")
                div.col-sm-6
                  p.text-center Top TF_IDF Vector (1-Gram)
                  table(class="table table-striped table-bordered table-sm table-hover")
                    thead
                      th Term
                      th Value
                    tbody
                      each val in womenData.topTfidfVector1GramArr
                        tr
                          td=val.name
                          td=val.value

                div.col-sm-6
                  p.text-center Top TF_IDF Vector (2-Gram)
                  table(class="table table-striped table-bordered table-sm table-hover")
                    thead
                      th Term
                      th Value
                    tbody
                      each val in womenData.topTfidfVector2GramArr
                        tr
                          td=val.name
                          td=val.value


        div.col-md-6
          h3 Category: Crime

          nav
            #nav-tab.nav.nav-tabs(role='tablist')
              a#nav-bof-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-bof', role='tab', aria-controls='nav-bof', aria-selected='true') Bag of Words
              a#nav-top-tab.nav-item.nav-link(data-toggle='tab', href='#nav-top', role='tab', aria-controls='nav-top', aria-selected='false') Tops
          #nav-tabContent.tab-content
            #nav-bof.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-bof-tab')
              div.row(style="max-height: 768px; overflow-y: auto")
                div.col-sm-6
                  p.text-center 1-Gram
                  ul.list-group
                    each val in crimeData.bagOfWords1Gram
                      li.list-group-item= val

                div.col-sm-6
                  p.text-center 2-Gram
                  ul.list-group
                    each val in crimeData.bagOfWords2Gram
                      li.list-group-item= val

            #nav-top.tab-pane.fade(role='tabpanel', aria-labelledby='nav-top-tab')
              div.row(style="max-height: 768px; overflow-y: auto")
                div.col-sm-6
                  p.text-center Top TF_IDF Vector (1-Gram)
                  table(class="table table-striped table-bordered table-sm table-hover")
                    thead
                      th Term
                      th Value
                    tbody
                      each val in crimeData.topTfidfVector1GramArr
                        tr
                          td=val.name
                          td=val.value

                div.col-sm-6
                  p.text-center Top TF_IDF Vector (2-Gram)
                  table(class="table table-striped table-bordered table-sm table-hover")
                    thead
                      th Term
                      th Value
                    tbody
                      each val in crimeData.topTfidfVector2GramArr
                        tr
                          td=val.name
                          td=val.value

    include includes/footer.pug
